	body { background-color:#d0e4fe; }
    h1 {color:gold; font-size:12pt; text-align:center;
        font-family:arial,sans-serif}
           
    td {background:#d0e4fe;}
    
    p {color:black; font-size:12pt; text-align:justify;
       font-family:arial,sans-serif}
       
    p.foot {color:black; font-size:9pt; text-align:center;
            font-family:arial,sans-serif; font-weight:bold}
            
    a:link,a:visited,a:active {color:blue}
    
    ul#list-nav {
    list-style-type:none;
    width:800px;
    }

    ul#list-nav li {
    display:inline
    }

    ul#list-nav li a {
    text-decoration:none;
    width:150px;
    padding:5px 40px;
    background:#a2b3a1;
    color:black;
    text-align:center;
    border-left:1px solid #fff;
    border-right:1px solid #fff;
    }

    ul#list-nav li a:hover {
    background:#485e49;
    color:#000
    }
